
.toggler__container{
   background: var(--primary);
   border-radius: .5rem;
   height: 50px;
   padding: 10px;
   cursor: pointer;
   transition: .3s;
  
}
.toggler__container:hover{
   background: darken($color: #8a6fff, $amount: 10%);
}
#toggler{
   display: block;
   width: 30px;
   height: 100%;
   position: relative;
   transform: rotate(0deg);
   transition: .5s ease-in-out;
   cursor: pointer;
   z-index: 100;
  
   

   & span{
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: white;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      
   }
   & span:nth-child(1) {
      top: 0px;
   }

   & span:nth-child(2) {
      top: 12px;
   }

   & span:nth-child(3) {
      top: 24px;
   }

   &.open {
      span:nth-child(1) {
         top: 12px;
         transform: rotate(135deg);
      }
   }

   &.open{
      span:nth-child(2) {
         opacity: 0;
         left: -60px;
      }
   } 

&.open{
   span:nth-child(3) {
      top: 12px;
      transform: rotate(-135deg);
   } 
}
}